body {
    width: 1366px;
    height: 768px;
    display: grid;
    /* divide page into quadrants */
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}
body {
    background: linear-gradient(-45deg, #232323, #260030, #1b1b1b, #340143);
	background-size: 500% 500%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

/* homepage gradient effect */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* transition to screen 2 */
#fade {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    
    display: none;
    background: #232323;
    width: 100%;
    height: 100%;

    transition: all 2s ease-in;
}

/* screen 2: back of cards */
#cards h2 {
    position: absolute;
    display: block;
    margin-top: -5%;

    width: 100%;

    z-index: 3;
}
#cards {
    position: absolute;

    display: none;
    flex-direction: row;
    justify-content: space-evenly;

    transform: translate(25%,25%);
    margin-top: -5%;
    margin-left: -10%;

    width: 1366px;
    height: 768px;

    z-index: 3;
}
/* sizing cards */
#cards img {
    width: 50%;
}
#cards img:hover {
    cursor: pointer;
}
.button {
    display: none;

    position: absolute;
    bottom: 18%;
    left: 25%;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;

    border: 1px solid white;
    border-radius: 5px;
    width: 25%;
    height: 10%;
    color: white;
    background-color: #232323;
}
.button:hover {
    cursor: pointer;

    border: 1px solid #340143;
    border-radius: 5px;
    width: 25%;
    height: 10%;
    color: white;
    background-color: #340143;
    box-shadow: inset -1px 3px 8px 5px #340143, 2px 5px 16px 0px #260030, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* overlay */
#overlay-background {
    position: fixed;
    z-index: 3;
    /* changes on submit click */
    display: none;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;

    transition: all 2s ease-in;
}
#overlay {
    background-color: white;
    position: absolute;
    z-index: 4;
    /* changes on submit click */
    display: none;

    top: 50%;
    left: 50%;

    width: 80%;
    height: 80%;

    border-radius: 20px;
    transform: translate(-50%, -50%);
}
#overlay button {
    background-color: white;
    color: #232323;
    border: 0.5px solid #c4c4c4;
    padding: 5px;

    margin-top: 20px;
    margin-left: 20px;
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
#overlay button:hover {
    cursor: pointer;
    border: 0.5px solid #232323;
}

/* header text styling with img */
header img {
    width: 800px;
    height: 800px;
    position: absolute;
    top : -200px;
    left: 0;
    bottom: 0;

    animation: flicker 2s ease-in-out infinite;
}
@keyframes flicker {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.75;
    }
    75% {
        opacity: 0.85;
    }
    100% {
       opacity: 1; 
    }
}
header {
    /* position */
    margin-left: 50px;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* instructions */
h2 {
    width: 350px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    position: relative;
    margin-top: 375px;
    font-size: 1.5em;
    line-height: 1em;
}

/* decorative cards on homepage */
main img {
    position: absolute;
    z-index: -2;
    left: 0;
    bottom: -100px;
    width: 1000px;
    height: 1000px;
}

/* to hold form */
#largecard {
    /* position */
    position: absolute;
    bottom: -100px;
    left: 800px;
    z-index: -1;
    grid-row: 1;
    grid-column: 1;

    /* appearance */
    background-color: white;
    width: 600px;
    height: 760px;
    border-radius: 20px;
    box-shadow: -7px 12px 27px -5px #000000;
}

/* footer styling */
footer {
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    right: 10px;
    bottom: -150px;
}
footer a {
    font-family: 'Courier New', Courier, monospace;
    color:#260030;
    border-radius: 2px;
    /* border: 1px solid #232323; */
    /* background-color: #232323; */
    padding: 20px;
}
footer a:hover {
    cursor: pointer;

    color: #340143
}

/* form styling */
form {
    /* position */
    position: absolute;
    top: 200px;
    left: 875px;
    display: block;

    /* appearance */
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}
form div {
    padding-bottom: 30px;
}
form input[type="text"]{
    width: 100%;
}

/* submit button */
input[type="submit"] {
    margin-top: 75px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #232323;
    background-color: #232323;
    color: white;
    padding: 10px;
}
input[type="submit"]:hover {
    cursor: pointer;

    margin-top: 75px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #340143;
    background-color: #340143;
    color: white;
    padding: 10px;

    box-shadow: inset -1px 3px 8px 5px #340143, 2px 5px 16px 0px #260030, 5px 5px 15px 5px rgba(0,0,0,0);
}
/* reading text styling */
#madlib {
    margin: 40px;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
#madlib a {
    font-weight: bold;
    color: #340143;
}
#madlib h3 {
    margin-top: 5px;
    font-family: epicursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75em;
}

