body {
    position: absolute;
    margin: 10%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1.75em;
    color: #2A2A2A;

    max-width: 75%;
}
header a {
    font-size: 0.5em;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
figcaption {
    font-size: 0.75em;
}
div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
img {
    width: 300px;
    padding-left: 20px;
}
#observation-2 img {
    padding-left: 0;
    padding-right: 20px;
}
section {
    position: relative;
    display: flex;
}
#conclusion {
    display: block;
    margin-bottom: 10%;
}
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
}
a {
    color: #2A2A2A;
}
footer a:hover {
    cursor: pointer;
    color: #111111;
}