body {
    background-color: #231c07;
    font-family: Helvetica, sans-serif;
}
/* background stripes */
.background {
    z-index: 1;
}
.top {
    display: flex;
    flex-direction: row;
}
#grey {
    width: 14.3%;
    height: 1000px;
    background-color: #C0C0C0;
    transition: all 500ms;
}
#grey:hover {
    width: 20%;
}
#yellow {
    width: 14.3%;
    height: 1000px;
    background-color: #C0C000;
    transition: all 500ms;
}
#yellow:hover {
    width: 20%;
}
#cyan {
    width: 14.3%;
    height: 1000px;
    background-color: #00C0C0;
    transition: all 500ms;
}
#cyan:hover {
    width: 20%;
}
#green {
    width: 14.3%;
    height: 1000px;
    background-color: #00C000;
    transition: all 500ms;
}
#green:hover {
    width: 20%;
}
#magenta {
    width: 14.3%;
    height: 1000px;
    background-color: #C000C0;
    transition: all 500ms;
}
#magenta:hover {
    width: 20%;
}
#red {
    width: 14.3%;
    height: 1000px;
    background-color: #C00100;
    transition: all 500ms;
}
#red:hover {
    width: 20%;
}
#blue {
    width: 14.3%;
    height: 1000px;
    background-color: #0B00C0;
    transition: all 500ms;
}
#blue:hover {
    width: 20%;
}
.middle {
    display: flex;
    flex-direction: row;
}
#blue2 {
    width: 14.3%;
    height: 100px;
    background-color: #0B00C0;
    transition: all 500ms;
}
#blue2:hover {
    width: 20%;
}
#black {
    width: 14.3%;
    height: 100px;
    background-color: black;
    transition: all 500ms;
}
#black:hover {
    width: 20%;
}
#magenta2 {
    width: 14.3%;
    height: 100px;
    background-color: #C000C0;
    transition: all 500ms;
}
#magenta2:hover {
    width: 20%;
}
#black2 {
    width: 14.3%;
    height: 100px;
    background-color: black;
    transition: all 500ms;
}
#black2:hover {
    width: 20%;
}
#cyan2 {
    width: 14.3%;
    height: 100px;
    background-color: #00C0C0;
    transition: all 500ms;
}
#cyan2:hover {
    width: 20%;
}
#black3 {
    width: 14.3%;
    height: 100px;
    background-color: black;
    transition: all 500ms;
}
#black3:hover {
    width: 20%;
}
#grey2 {
    width: 14.3%;
    height: 100px;
    background-color: #C0C0C0;
    transition: all 500ms;
}
#grey2:hover {
    width: 20%;
}
.bottom {
    display: flex;
    flex-direction: row;
}
#navy {
    width:16.7%;
    height: 200px;
    background-color: #01214C;
    transition: all 500ms;
}
#navy:hover {
    width: 20%;
}
#white {
    width:16.7%;
    height: 200px;
    background-color: white;
    transition: all 500ms;
}
#white:hover {
    width: 20%;
}
#violet {
    width:16.7%;
    height: 200px;
    background-color: #33006A;
    transition: all 500ms;
}
#violet:hover {
    width: 20%;
}
#darkgrey {
    width:16.7%;
    height: 200px;
    background-color: #131313;
    transition: all 500ms;
}
#darkgrey:hover {
    width: 20%;
}
#darkgrey2 {
    width:16.7%;
    height: 200px;
    background-color: #1D1D1D;
    transition: all 500ms;
}
#darkgrey2:hover {
    width: 20%;
}
#darkgrey3 {
    width:16.7%;
    height: 200px;
    background-color: #131313;
    transition: all 500ms;
}
#darkgrey3:hover {
    width: 20%;
}
/* banner */
#banner {
    background-image: url("images/portal-banner.gif");
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 550px;
    z-index: 2;
}
#banner h1 {
    line-height: 0;
    padding: 20px;
    font-family: forma-djr-text, sans-serif;
    font-weight: 700;
    font-size: 64pt;
}
#banner h2 {
    line-height: 0;
    padding: 20px;
    font-family: forma-djr-text, sans-serif;
    font-size: 18pt;
}
/* sections */
main {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 3;
}
main h2 {
    font-family: forma-djr-text, sans-serif;
    font-weight: 700;
    font-size: 18pt;
}
main ul {
    padding: 10px;
}
main ul li {
    list-style: none;
}
main ul li a {
    text-decoration: none;
    color: black;
}
main ul li a:hover {
    color: white;
    background-color: #33006A;
}
section {
    background: white;
    box-shadow: -8px 10px 0px -1px #000000;
    padding: 20px;
    border: 1px solid black;
}
/* footer */
footer {
    background: black;
    display: flex;
    justify-content: space-evenly;
}
footer p {
    padding: 20px;
    background-color: white;
}
footer p a {
    font-weight: 700;
    text-decoration: none;
    color: black;
}
footer p a:hover {
    color: #C00100;
}